/**
 * TODO: Frontend: Remove for production.
 */
p {
	color: green;
}

/**
 * Styling for any shortcode errors.
 */
p.cliff-wp-plugin-boilerplate-shortcode-error {
	border-left: 4px solid #dc3232; /* same red as admin Error notice */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	margin: 15px;
	padding: 5px 12px;
	font-style: italic;
}