/* purgecss start ignore */

/**
 * Notifications
 */
.react-notification-root {

	.notification-container-bottom-left {
		bottom: 30px;
	}

	.notification-container-mobile-bottom {
		bottom: 60px;
	}
}

/* purgecss end ignore */